.catalog {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.catalog__background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 390px;
}

.catalog__background__img {
  position: absolute;
  z-index: -1;
  top: 80px;
}


.catalog__greetings__img--sedona {
  position: absolute;
}

.catalog__foto__video {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 60px;

  &::after {
    content: "";
    position: absolute;
    width: 600px;
    height: 57px;
    top: -85px;
    left: 0px;
    background-image: url("../../../img/svg/triangle.svg");
    background-repeat: no-repeat;
    z-index: 1;

  }

     &::before {
    content: "";
    position: absolute;
    width: 600px;
    height: 57px;
    top: -85px;
    right: 0px;
    background-image: url("../../../img/svg/triangle.svg");
    background-repeat: no-repeat;
    z-index: 1;
    transform: scale(-1,1)
  }
}

.triangle {
  width: 484px;
}

.catalog__foto__video__title {
  font-family: 'PT Sans';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 26px;
text-align: center;
text-transform: uppercase;
color: #000000;
mix-blend-mode: normal;
}

.catalog__foto__video__text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  mix-blend-mode: normal;
  }
