.catalog__foto__tape {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 62px;
}

.catalog__foto__tape__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
}

.catalog__foto__tape__list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  list-style: none;
}

.catalog__foto__tape__container {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.3);
}

.catalog__foto__title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 1;
}

.catalog__foto__text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
}

.like__meter {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
}

@media (min-width: @tablet-width) and (max-width: @desktop-width) {
  .catalog__foto__tape {
    width: 100%;
  }

  .catalog__foto__tape__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: static;
    background-color: #FFFFFF;
  }

  .catalog__foto__title {
    color: #000;
  }

  .catalog__foto__text {
    color: #000000;
  }

  .like__meter {
    color: #000000;
  }
}

@media (max-width: @mobile-width-only) {
  .catalog__foto__tape {
    width: 100%;
  }

  .catalog__foto__tape__item {
    display: flex;
    flex-direction: column;
  }

  .catalog__foto__tape__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: static;
    background-color: #FFFFFF;
  }

  .catalog__foto__title {
    color: #000;
  }

  .catalog__foto__text {
    color: #000000;
  }

  .like__meter {
    color: #000000;
  }
}
