.form__wrapper {
  width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.review {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 70px;
}

.review__title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  mix-blend-mode: normal;
}

.review__text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  mix-blend-mode: normal;
}

@media (min-width: @tablet-width) and (max-width: @desktop-width) {
  .form {
    overflow: hidden;
    width: 100%;
  }

  .form__wrapper {
    width: 100%;
  }
}

@media (max-width: @mobile-width-only) {
  .form {
    overflow: hidden;
    width: 100%;
  }

  .form__wrapper {
    width: 100%;
  }

  .review {
    padding-left: 16px;
    padding-right: 16px;
  }

  .review__title {
    font-size: 18px;
  }
}
