.form__impression {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 650px;
}

.form__impression {
font-family: 'PT Sans';
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 26px;
text-align: center;
text-transform: uppercase;
color: #000000;
mix-blend-mode: normal;
}

.impression__filter__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  padding-left: 0;
}

.impression__filter__item {
  list-style: none;
}

.control__impression {
  font-family: 'PT Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 26px;
align-items: center;
color: #000000;
mix-blend-mode: normal;
}
