.page__main__offers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
}

.main__offers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 435px;
  margin-top: 44px;
  margin-bottom: 66px;
}

.main__offers_title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  mix-blend-mode: normal;
}

.main__offers__text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  mix-blend-mode: normal;
}

.main__offers_link {
  width: 460px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  background: #81B3D2;
  mix-blend-mode: normal;
  text-decoration: none;
  padding-bottom: 16px;
  padding-top: 16px;
}

.navigation__map {
  margin-bottom: 65px;
}

.map {
  width: 1200px;
  height: 350px;
  z-index: -1;
}

.map-market {
  position: absolute;
  left: 50%;
}

@media (min-width: @tablet-width) and (max-width: @desktop-width) {
  .page__main__offers {
    width: 100%;
  }
  .main__offers {
    width: 100%;
  }
  .navigation__map {
    width: 100%;
  }
}

@media (max-width: @mobile-width-only) {
  .page__main__offers {
    width: 100%;
  }
  .main__offers {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
  .navigation__map {
    width: 100%;
  }
  .main__offers_title {
    font-size: 21px;
  }
  .main__offers__text {
    font-weight: lighter;
  }
  .map {
    width: 100%;
    object-fit: cover;

  }
  .navigation__map {
    margin-bottom: 40px;
  }
}
