.sights {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sights__title {
  font-family: 'PT Sans';
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 26px;
text-align: center;
text-transform: uppercase;
color: #000000;
mix-blend-mode: normal;
}

.checkbox-filter-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 650px;
  gap: 32px;
}

.checkbox-filter-list {
  list-style: none;
  width: 224px;
}

.control-sights {
font-family: 'PT Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 26px;
align-items: center;
color: #000000;
mix-blend-mode: normal;
}
