.footer {
  width: 1200px;
  margin: 0 auto;
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.footer__social {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__social__list {
  display: flex;
  flex-direction: row;
  gap: 6px;
  padding-left: 0;
}

.footer__social__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: 48px;
  height: 48px;
  background: #81B3D2;
}

.footer_creation {
  display: flex;
  flex-direction: row;
  gap: 13px;
}

.footer_text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  mix-blend-mode: normal;
}

.footer_creation__text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  mix-blend-mode: normal;
}
